<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form th:action="@{/admin/users/{id}/edit(id=${user.getId()})}" method="post">
        <fieldset>
            <p th:text="${'ID пользователя: ' + user.getId()}"></p>
            <label for="input_fn">Имя: </label><br>
            <input id="input_fn" placeholder="Имя" name="firstName" type="text" th:value="${user.getFirstName()}"/><br><br>

            <label for="input_sn">Фамилия: </label><br>
            <input id="input_sn" placeholder="Фамилия" name="secondName" type="text" th:value="${user.getSecondName()}"/><br><br>

            <label for="input_e">Email:</label><br>
            <input id="input_e" placeholder="email" name="email" type="text" th:value="${user.getEmail()}" /><br><br>
            <fieldset title="Роли пользователя">
                <legend>Роли пользователя</legend>
                <th:block th:each="entry : ${roleCheckboxes}">
                    <input th:id="${entry.getKey().getAuthority()}" type="checkbox" name="role" th:value="${entry.getKey().getAuthority()}" th:checked="${entry.getValue()}">
                    <label th:for="${entry.getKey().getAuthority()}" th:text="${entry.getKey().getAuthority()}"></label><br>
                </th:block>
            </fieldset>
        </fieldset><br>
        <input type="submit" value="Сохранить" />
        <input type="submit" value="Удалить" formmethod="post" th:formaction="@{/admin/users/delete/{id}(id=${user.getId()})}" />

    </form>
    <br>
    <br>
    <a href="../../../logout">Выйти из системы</a>
</div>
</body>
</html>