<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Имейл</th>
            <th>Ссылка</th>
        </tr>
        <th:block th:each="user : ${page.getPaginatedContent()}">
            <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getSecondName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td><a th:href="@{'/users/' + ${user.getId()}}">To user</a></td>
            </tr>
        </th:block>
    </table>
    <a th:if="${page.hasPrevPage()}" th:href="@{/users(page=${page.prevPageNumber()}, rowByPage=${page.getRowCountByPage()})}">Пред </a>
    <a th:text=" ${page.getPageNumber()}" th:href="@{/users/(rowByPage=${page.getRowCountByPage()})}"></a>
    <a th:if="${page.hasNextPage()}" th:href="@{/users/(page=${page.nextPageNumber()}, rowByPage=${page.getRowCountByPage()})}"> След</a>
</div>
</body>
</html>